.productView{
    position:relative;


    .btn{
        min-width: 25%;
        min-height: 40px;
        margin: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}



.container1{
    display:grid;
    position: relative;
    background-color: rgb(201, 66, 13);
    position: relative;
    width: 100vw;
    height: 700px;
    border-radius: 15px;
   z-index: -1;  

}

.container2{
    position: absolute;
    background-color: beige;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
    height: 600px;
    border-top-left-radius:50px ;
    border-top-right-radius: 85px;
    z-index: 0;
    box-shadow: 10px;
}
.container3{
    position: absolute;
    top: 20%;
    right:0%;
    transform: translate(-17%,-17%);
    background-color:rgb(168, 72, 34);
    box: shadow 10px;
    border-radius: 80px 40px 60px 40px;
    width: 700px;
    height: 550px;
    padding: 10px 10px 10px 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1{
    position: absolute;
    top: 35%;
    left:12%;
    transform: translate(-17%,-17%);
    background-color:rgb(250, 250, 250);
    box: shadow 10px;
    border-radius: 80px 40px 60px 40px;
    width: 300px;
    height: 300px;
    padding: 23px 23px 23px 23px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price{
    position: absolute;
    background-color:rgb(214, 116, 77);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    z-index: 3;
    top:13%;
    right:15%;
    transform: translate(-30%,-30%);
    box-shadow: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;

}


.shortdesc{
    position: absolute;
    background-color:rgb(214, 116, 77);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    z-index: 3;
    top:30%;
    right:15%;
    transform: translate(-30%,-30%);
    box-shadow: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
}


.discount{
    position: absolute;
    background-color:rgb(214, 116, 77);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    z-index: 3;
    top:47%;
    right:12%;
    transform: translate(-30%,-30%);
    box-shadow: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
}



.weight{
    position: absolute;
    background-color:rgb(214, 116, 77);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    z-index: 3;
    top:65%;
    right:12%;
    transform: translate(-30%,-30%);
    box-shadow: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
}


.brand{
    position: absolute;
    background-color:rgb(214, 116, 77);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    z-index: 3;
    top:14%;
    right:50%;
    transform: translate(-30%,-30%);
    box-shadow: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;

}  


.size{
    position: absolute;
    background-color:rgb(214, 116, 77);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    z-index: 3;
    top:65%;
    right:12%;
    transform: translate(-30%,-30%);
    box-shadow: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;

}
.img{
    position: absolute;
    top: 18%;
    left:12%;
    transform: translate(-17%,-17%);
    background-color:rgb(214, 116, 77);
    box: shadow 10px;
    border-radius: 80px 40px 60px 40px;
    width: 300px;
    height: 400px;
    padding: 10px 10px 10px 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}


    


.titleBox{
    position: absolute;
    background-color: antiquewhite;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    z-index: 2;
    top:13%;
    left:17%;
    transform: translate(-30%,-30%);
    box-shadow: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;

}

.botton{
    position: absolute;
    background-color: antiquewhite;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    z-index: 2;
    top:60%;
    left:17%;
    transform: translate(-30%,-10%);
    box-shadow: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    

}
.botton:hover{
    cursor: pointer;
    color: #df4a05;
}

.color{
    position: absolute;
    background-color: rgb(226, 148, 74);
    width: 240px;
    height: 70px;
    border-radius: 5px;
    z-index: 1;
    top:80%;
    left:17%;
    transform: translate(-30%,-10%);
    box-shadow: 10px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content:right;
    align-content:flex-start;
    padding: 5px;
}
.colorBox1{
    position: absolute;
    background-color: rgb(226, 21, 21);
    width: 30px;
    height: 50px;
    border-radius: 5px;
    z-index: 2;
    top:30%;
    left:17%;
    transform: translate(-30%,-10%);
    box-shadow: 10px;
    display: flex;
    justify-content:right;
    align-content:space-evenly;
    
}
.colorBox2{
    position: absolute;
    background-color: rgb(55, 68, 247);
    width: 30px;
    height: 50px;
    border-radius: 5px;
    z-index: 2;
    top:30%;
    left:30%;
    transform: translate(-30%,-10%);
    box-shadow: 10px;
    display: flex;
    justify-content:right;
    align-content:space-evenly;

}
.colorBox3{
    position: absolute;
    background-color: rgb(45, 160, 10);
    width: 30px;
    height: 50px;
    border-radius: 5px;
    z-index: 2;
    top:30%;
    left:43%;
    transform: translate(-30%,-10%);
    box-shadow: 10px;
    display: flex;
    justify-content:right;
    align-content:space-evenly;
}